<div class="footer">
<ul class="footer-list">
  <li class="footer-items"><a href="#">Privacy Policy</a></li>
  <li class="footer-items"><a href="#">Terms of Use</a></li>
  <li class="footer-items"><a href="#">Contact</a></li>
  <li class="footer-items"><a href="#">Map</a></li>
  <li class="footer-items"><a href="#">Health Info</a></li>
 </ul>

</div>
