<!-- Partial page for each hall on main page  -->
<article class="hall"><a href="#">
  <div class="hall-content">
    <p class="hall-title">
      <a href="{{@key}}">{{hall-name}}</a>
    </p>
    <p class="hall-text">
      {{hall-text}}
    </p>
  </div>
  </a>
</article>
