    <header>
    <div id="back-change"></div>
      <a href="/"><img src="pics/osupic.jpg" class="osu-image"/></a>
	  <div class="OSU-Text"> University Housing and Dining</div>
      <div class="order" id="ord">Order Online</div>

  	  <div id="order-box">

      		<div class="order-field">
      			<label for="name-input">Name:</label>
      			<input type="text" id="name-input">
      		</div>

          <div class="order-field">
      			<label for="ID-input">Student ID:</label>
      			<input type="text" id="ID-input">
          </div>

      		<div class="order-field">
      			<label for="order-input">Order Description:</label>
      			<input type="text" id="order-input">
      		</div>
			<div class="order-field button"a>
				<button id="place-order" class="cancel-order">Cancel</button>
				<button id="place-order" class="submit-order">Place Order</button>
			</div>

  	  </div>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem {{home}}"><a href="./">Home</a></li>
          <li class="navitem {{hall}}" id="restaurants"><a href="#">Restaurant Selection</a></li>
          <li class="navitem {{about}}"><a href="./about">About</a></li>
        </ul>
	<ul class="navsub">
	  <li class="halls"><a href="./mcnary">McNary Dining Hall</a></li>
	  <li class="halls"><a href="./west">West Dining Hall</a></li>

        </ul>
      </nav>
    </header>
