    <header>
    <div id="back-change"></div>
      <a href="#"><img src="pics/osupic.jpg" class="osu-image"/><h1 class="OSU-Text"> University Housing and Dining</h1></a>

      <h1 class="order" id="ord">Order Online</h1>

  	  <div id="order-box">

      		<div class="order-field">
      			<label for="text-input">Name:</label>
      			<input type="text" id="text-input">
      		</div>

          <div class="order-field">
      			<label for="text-input">Address:</label>
      			<input type="text" id="text-input">
          </div>

      		<div class="order-field">
      			<label for="text-input">Order Description:</label>
      			<input type="text" id="text-input">
      		</div>
			
			<div class="order-field button">
				<button id="place-order">Place Order</button>
			</div>

  	  </div>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem active"><a href="./">Home</a></li>
          <li class="navitem" id="restaurants"><a href="#">Restaurant Selection</a></li>
          <li class="navitem"><a href="./about">About</a></li>
        </ul>
	<ul class="navsub">
	  <li class="halls"><a href="./mcnary">McNary Dining Hall</li>
	  <li class="halls"><a href="./west">West Dining Hall</li>

        </ul>
      </nav>
    </header>
