    <header>
    <div id="back-change"></div>
      <a href="#"><img src="pics/osupic.jpg" class="osu-image"/><h1 class="OSU-Text"> University Housing and Dining</h1></a>

      <h1 class="order" id="ord">Order Online</h1>

  	  <div id="order-box">

      		<div class="order-field">
      			<label for="text-input">Name:</label>
      			<input type="text" id="text-input">
      		</div>

          <div class="order-field">
      			<label for="text-input">Address:</label>
      			<input type="text" id="text-input">
          </div>

      		<div class="order-field">
      			<label for="text-input">Order Description:</label>
      			<input type="text" id="text-input">
      		</div>
			
			<div class="order-field button">
				<button>Place Order</button>
			</div>

  	  </div>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem active"><a href="#">Home</a></li>
          <li class="navitem"><a href="#">Restaurant Selection</a></li>
		  
		  <li class="navitem navsub"><a href="#">McNary Dining Hall</li>
		  <li class="navitem navsub"><a href="#">West Dining Hall</li>
		  
          <li class="navitem"><a href="#">About</a></li>
        </ul>
      </nav>
    </header>
