<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OSU Dining Menu</title>
    <link rel="stylesheet" href="/style.css" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="/pics/favicon.ico" />
  </head>

    <body>


    {{{body}}}

    </body>

<script src="/index.js" charset="utf-8"></script>

</html>
