{{> header}}

<main class="about">
	<h1>About</h1>
	<h2>Contributors</h2>
		<ul>
			<li>Matthew Ruder</li>
			<li>Devin Sather</li>
			<li>Connor Campbell</li>
			<li>D J Shamblin</li>
		</ul>
	<h2>Purpose</h2>
	<p>To allow students an easy way to decide where to eat and to place orders ahead of time</p>
</main>