<!-- This is the main page containing a box for each dining hall -->
{{> header}}

<main>
  <h2 class="home-text">Oregon State has great service</h2>
  <img src="pics/home/food1.jpg" id="food1">
</main>
