<!-- This is the main page containing a box for each dining hall -->
{{> header}}

<main>
  <h2 class="home-text">Oregon State has good food</h2>
  <img src="pics/home/food3.jpeg" class="centerImg">
  <h2 class="home-text">...good service</h2>
  <img src="pics/home/food1.jpg" class="centerImg">
  <h2 class="home-text">...and great people!</h2>
  <img src="pics/home/food2.jpg" class="centerImg">
</main>

{{>footer}}
