<!-- This is the page for restaurants after clicking a hall -->
{{> header}}


<main class = "rest">
<!-- dynamically allocate each restaurant tile  -->
  {{#each rest}}
    {{> restCard}}
  {{/each}}
</main>
