body {
	margin-top: 350px;
	background-color: grey;
}

a {
text-decoration: none;
}

header {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 500px;

}

.osu-image {
	position: relative;
	width: 50%;
	height: 60%;
	display: block;
	margin: 0 auto;
	z-index: 1;
}

.OSU-Text {
	color: white;
	text-align:center;
	position: relative;
	bottom: 13px;
	font-size: 2em;
}

#back-change {
	width: 100%;
	height: 60%;
	display: block;
	margin: 0 auto;
	position: absolute;
	background-color:white;
	z-index: 0;
}

#order-box {
	position: absolute;
	top: 160px;
	left: 950px;
	border: 2px solid black;
	background-color: white;
	padding: 15px;
	display: none;
}

.order-field {
	text-align: right;
	margin-bottom: 10px;
}

.order {
	text-align: right;
	right: 60px;
	color: #c44512;
	font-weight: bold;
	font-size: 2em;
	position: relative;
	bottom: 71px;
	margin-left: 1080px;
	padding-right: 8px;
}

.order:hover {
	background-color: white;
	cursor: pointer;
}

nav {
	text-align: left;
	position: absolute;
	left: 5px;
	bottom: 1px;
}

.navbar  {

}

.navlist {

}

.navitem {
	display: inline;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	text-align: left;
}

.navitem a {
	color: #c44512;
}

/*I'm assuming the dining hall and restaurant classes are going to be the same but
	you can change this if there needs to be a difference in either one.
*/

.hall-container .rest-container{

}


.hall .rest{

}


.hall-content .rest-content{

}

nav ul li.navitem:hover {
	background-color: white;
	cursor: pointer;
}

nav ul li.navitem.active {
	text-decoration: underline;
	color: grey;
}

nav ul {
	padding-left: 0;
}

.hall-title .rest-title{

}


.hall-text .rest-text {

}

/*rest items is <ul> tag*/
.rest-items {

}

/*rest-food is <li> tag*/

.rest-food{
	font-size: 20px;
	list-style-type: none;
}

.navsub {
	position: absolute;
	text-decoration: none;
	font-size: 1em;
	left: 110px;
	top: 50px;
	list-style-type: none;
	border: 4px solid black;
	background-color: #c44512;
	padding: 10px;
}

.navsub li {
	margin-bottom: 6px;
}


.navsub li a {
	text-decoration: underline;
	color: white;
}
